{% assign logo_height = "72pt" %}
  <div class="row">
    <div class="col-lg-12 footer">
      <div class="cleanlinks">
	<center>
	  perfSONAR is <a href="about_collaboration.html">jointly developed</a> by these partners:
	  <br/>
	  <a href="https://www.es.net">ESnet Logo</a>
	  &nbsp;&nbsp;&nbsp;&nbsp
	  <a href="https://www.geant.net"><img src="images/logos/geant.svg" alt="GÉANT Logo" target="_blank" height="{{ logo_height }}" /></a>
	  &nbsp;&nbsp;&nbsp;&nbsp
	  <a href="https://www.iu.edu"><img src="images/logos/indiana.svg" alt="Indiana University Logo" target="_blank" height="{{ logo_height }}" /></a>
	  &nbsp;&nbsp;&nbsp;&nbsp
	  <a href="https://www.internet2.edu"><img src="images/logos/internet2.svg" alt="Internet2 Logo" target="_blank" height="{{ logo_height}}" /></a>
	  &nbsp;&nbsp;&nbsp;&nbsp
	  <a href="https://www.umich.edu"><img src="images/logos/umich.svg" alt="University of Michigan Logo" target="_blank" height="{{ logo_height}}" /></a>
	  <br />
	  <br />
	  <br />
	  <p>&copy;2005-{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved.
	    &nbsp;&nbsp;&middot;&nbsp;&nbsp
	    {% if page.last_updated %}<span>This page last updated:</span> {{page.last_updated}}<br/>{% endif %}
	    Site last updated {{ site.time | date: "%B %-d, %Y"  }}.</p>
	</center>
      </div>
    </div>
  </div>
</footer>
